# mongo.conf
# {{ ansible_managed }}

net:
  bindIp: 0.0.0.0
  ipv6: {{ mongodb_net_ipv6 | to_nice_json }}
  maxIncomingConnections: {{ mongodb_net_maxconns }}
  port: {{ mongodb_net_port }}

processManagement:
  fork: {{ mongodb_processmanagement_fork | to_nice_json}}
  pidFilePath: /var/run/mongodb/mongod.pid

security:
  authorization: {{ mongodb_security_authorization }}
  {% if mongodb_replication_replset and mongodb_security_authorization == 'enabled' -%}
  keyFile: {{ mongodb_datadir_prefix }}/keyfile
  {% endif %}

# maximum size in megabytes for replication operation log
replication:
  oplogSizeMB: {{ mongodb_replication_oplogsize | int }}
  replSetName: {{ mongodb_replication_replset }}


storage:
  dbPath: {{ mongodb_storage_dbpath }}
  engine: {{ mongodb_storage_engine }}
  journal:
    enabled: {{ mongodb_storage_journal_enabled | to_nice_json }}

systemLog:
  destination: {{ mongodb_systemlog_destination }}
  logAppend: {{ mongodb_systemlog_logappend | to_nice_json }}
  path: {{ mongodb_systemlog_path }}
